body {
    background-color: lightcoral;
    text-align: center;
    font-family: Algerian, serif;
}

div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

h1 {
    color: cyan;
    font-family: Arial, serif;
}

#adjective {
    color: green;
    font-family: Arial, serif;
}

a:hover {
    color: darkgreen;
}